<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dixita Ganatra</title>
        <link rel="stylesheet" href={{ '/css/style.css' | url }}>
    </head>
    <body>
        {% include "./components/header.njk" %}
        <div class="container">
            <h1>{{ title }}</h1>
            {{ content | safe }}
        </div>
        {% include "./components/footer.njk" %}
    </body>
</html>
