<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dixita Ganatra</title>
        <link rel="stylesheet" href={{ '/css/resume.css' | url }}>
    </head>
    <body>
        {{ content | safe }}
    </body>
</html>
