<header>
    <div>
        <div class="title">
            <a href="/">Dixita Ganatra</a>
        </div>
        <nav>
            <a href="/blog" class="nav-item">Blog</a>
            <a href="/projects" class="nav-item">Projects</a>
            <a href="/books" class="nav-item">books</a>
            <a href="/contact" class="nav-item">Contact</a>
            <a href="/resume" target="_blank" class="nav-item">Resume</a>
        </nav>
    </div>
</header>
