@import './theme/variables.scss';

* {
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: $background-color;
    color: $primary-text-color;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    p {
        line-height: 24px;
    }

    ul {
        line-height: 24px;
    }

    a {
        color: $primary-color;
        text-decoration: none;
    }

    header {
        width: 100vw;
        padding: 1.5rem;
        background: $secondary-background-color;
        display: flex;
        align-items: center;
        justify-content: center;
        
        > div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 900px;
            
            .title {
                font-size: 20px;
                font-weight: 600;
                text-transform: uppercase;
            }
    
            nav {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                justify-content: flex-end;
                .nav-item {
                    margin: 0.2rem 1rem;
                    margin-right: 0;
                    text-transform: uppercase;
                    border-bottom: 1px solid transparent;
                    &:hover {
                        border-color: $primary-color;
                        transition: border 400ms;
                    }
                }
            }
        }
    }

    .container {
        width: 900px;
        max-width: 100%;
        margin: 4rem auto;
        padding: 0 1.2rem;

        .section {
            margin-bottom: 1rem;
        }

        .list-without-bullets {
            padding: 0;
            list-style-type: none;
        }
    }

    footer {
        width: 100vw;
        padding: 2rem;
        border-top: 1px solid $secondary-background-color;
        font-size: 14px;
        text-align: center;
    }

}
