@import './theme/variables.scss';

.contact {
    ul {

        li {
            margin: 8px 0;
        }
    }

    .note {
        padding: 4px 16px;
        border-left: 3px solid $primary-color;
    }
}
