---
title: Blog
layout: base.njk
---

<div class="section">
    {% set tags = collections.posts | taglist %}
    {%include 'taglist.njk'%}
    <div class="postlist">
        {% set posts = collections.posts | reverse %}
        {% include 'postlist.njk' %}
    </div>
</div>
